html{	
/*	min-height:100%;
	position:relative;
	font-size:18px;*/
}

body{
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	line-height:1.6875;
/*	height:100%;*/
	color:#292929;
	font-weight:400;	
}

*{  
	-webkit-box-sizing:border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing:border-box;    /* Firefox, other Gecko */
	box-sizing:border-box;         /* Opera/IE 8+ */
}

.clearfix:after{
	content:"";  
	display:table;
	clear:both;
}

.wrapper{ width:100%; max-width:1200px; margin:0 auto;}

.header{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}

.logo{ max-width:200px;}
.logo img{ width:100%; height:auto;}

nav ul{ 
	margin:0;
	padding:0;
	list-style:none;
	tranition:300ms;
}
nav ul li{ 
	margin:0;
	padding:0;
	position:relative;
	tranition:300ms;
}
nav ul li a{ 
	color:red;
	text-decoration:none;
	display:block;
	padding:10px 20px;
	font-weight:bold;
}
nav ul li:hover a{ 
	color:green;
}

nav li.current_page_item > a{	
	color: purple;
}

nav li li a {	
	color: pink!important;
}

nav li li:hover > a {	
	color: cyan!important;
}

	
nav > ul > li{ 
	display:inline-block;
	margin:0 0 0 25px;
}
nav > ul > li:first-child{ 
	margin-left:0;
}
nav li > ul{ 
	display:none;
	position:absolute;
	left:0;
	top:100%;
	background:#ff0000;
}

nav li ul ul{ 
	left:100%;
	top:0;
	background:#ffff00;
}

nav ul li.menu-item-has-children:hover > ul{ 
	display:block;
	min-width:300px;
}



/*nav  ul li:hover > ul,
nav  ul ul li:hover > ul {
	clip: inherit;
	overflow: inherit;
	height: inherit;
	width: inherit;
}*/